<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>We'll be right back!</title>
</head>
<body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>Thousands of our tech-prodigies are currently updating Continuum for you to
    have a better user experience. They get cranky when you rush them ;)</p>

    {{> footer}}
</body>
</html>